article {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;

  header {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 35px;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
  }

  p {
    margin-bottom: 35px;
    font-size: 18px;
    font-family: 'Merriweather', 'Georgia', serif;
    font-weight: 300;
    line-height: 32px;
  }

  a {
    text-decoration: none;
    border-bottom: 1px solid #888;
    color: #000;
  }

  pre {
    margin-bottom: 35px;
    font-size: 16px;
  }
}

nav {
  a {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    border-bottom: 1px solid #888;
    color: #000;
  }
}
