<% wrap_layout :layout do %>
  <nav class="global-nav">
    <a href="/">Home</a>
  </nav>
  <article class="blog-post">
    <header class="blog-header">
      <h1 class="blog-title"><%= current_page.data.title %></h1>
      <time class="publish-date" datetime="<%= current_page.data.date %>">
        <%= pretty_date(current_page.data.date) %>
      </time>
    </header>
    <%= yield %>
  </article>
  <div class="subscribe-container">
    <div class="subscribe">
      <form action="https://tinyletter.com/maxholder" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/maxholder', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <h1>
          Like this blog post?
        </h1>
        <p>
          Get notified when I post in the future:
        </p>
          <input type="text" style="width:140px" name="email" id="tlemail" placeholder="you@example.com" />
        <input type="hidden" value="1" name="embed"/>
        <input type="submit" value="Subscribe" />
      </form>
    </div>
  </div>
  <footer class="blog-footer">
    <div class="author-photo">
    </div>
    <div class="author-info">
      <span class="author-name">
        Max Holder
      </span>
      <ul>
        <li>
          <a href="mailto:mxhold@gmail.com">
            <i class="fa fa-envelope"></i>
            mxhold@gmail.com
          </a>
        </li>
        <li>
          <a href="http://twitter.com/maxholder">
            <i class="fa fa-twitter"></i>
            @maxholder
          </a>
        </li>
        <li>
          <a href="http://github.com/mxhold">
            <i class="fa fa-github-alt"></i>
            mxhold
          </a>
        </li>
      </ul>
    </div>
  </footer>
  <div class="copyright">
    <p>
      © 2015 Max Holder
    </p>
    <p>
      This work is available under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC BY</a> license.
    </p>
  </div>
<% end %>
