<h1>Maxwell Holder</h1>
<section>
  <h1>About</h1>
  <%= image_tag 'max.jpg', alt: 'Max' %>
  <p>
    Howdy! My name is Maxwell Holder, but you can call me Max.
  </p>
  <p>
    I'm a Ruby on Rails developer in Durham, NC.
  </p>
  <p>
    I like linguistics, programming, coffee, cooking, and eating.
  </p>
</section>
<section>
  <h1>Cool stuff</h1>
  <ul>
    <li>
      <a href="vocal_tract_length/">
        How Long is your Vocal Tract?
      </a>
    </li>
  </ul>
</section>
<section>
  <h1>Blog posts</h1>
  <ul>
    <% blog.articles.each do |article| %>
      <li>
        <a href="<%= article.url %>">
          <%= article.title %>
        </a>
      </li>
    <% end %>
  </ul>
</section>
<section>
  <h1>Links</h1>
  <ul>
    <li><a href="mailto:mxhold@gmail.com">Email</a></li>
    <li><a href="https://github.com/mxhold">GitHub</a></li>
    <li><a href="https://twitter.com/maxholder">Twitter</a></li>
  </ul>
</section>
