<h1>Maxwell Holder</h1>
<section>
  <h2>About</h3>
  <%= image_tag 'max.jpg', alt: 'Max', height: 240, width: 240 %>
  <p>
    Howdy! My name is Maxwell Holder, but you can call me Max.
  </p>
  <p>
    I work at <a href="https://www.braintreepayments.com/">Braintree</a> where I
    mostly program in Ruby.
  </p>
  <p>
    I like linguistics, programming, coffee, cooking, and eating.
  </p>
</section>
<section>
  <h2>Blog posts</h2>
  <ul>
    <% blog.articles.each do |article| %>
      <li>
      <%= pretty_date(article.data.date) %> - 
        <a href="<%= article.url %>">
          <%= article.title %>
        </a>
      </li>
    <% end %>
  </ul>
</section>
<section>
  <h2>Projects</h2>
  <ul>
    <li>
      <a href="https://github.com/mxhold/telnet_chat">telnet_chat</a>
      -
      a simple chat server written in Elixir that you can connect to using
      telnet
    </li>
    <li>
      <a href="https://github.com/mxhold/benchmark_ips">benchmark_ips</a>
      -
      an Elixir library for benchmarking inspired by the Ruby gem
      <a href="https://github.com/evanphx/benchmark-ips">benchmark-ips</a>
    </li>
    <li>
      <a href="https://github.com/mxhold/lifelike">lifelike</a>
      -
      a Ruby gem for simulating
      <a href="https://en.wikipedia.org/wiki/Life-like_cellular_automaton">
        Life-like cellular automata
      </a>, coded with emphasis on the single responsibility principle
    </li>
    <li>
      <a href="https://github.com/mxhold/elo_rating">elo_rating</a>
      -
      a tiny Ruby gem for calculating
      <a href="https://en.wikipedia.org/wiki/Elo_rating_system">Elo ratings</a>
    </li>
    <li>
      <a href="https://github.com/mxhold/vimperor">Vimperor</a>
      -
      a Ruby on Rails app for generating .vimrc files
    </li>
  </ul>
</section>
<section>
  <h2>Cool stuff</h2>
  <ul>
    <li>
      <a href="vocal_tract_length/">
        How Long is your Vocal Tract?
      </a>
    </li>
  </ul>
</section>
<section>
  <h2>Links</h2>
  <ul>
    <li><a href="mailto:mxhold@gmail.com">Email</a></li>
    <li><a href="https://github.com/mxhold">GitHub</a></li>
    <li><a href="https://twitter.com/maxholder">Twitter</a></li>
  </ul>
</section>
